<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Measured in kilobytes -->
    <httpRuntime maxRequestLength="1048576" appRequestQueueLimit="100000" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Toltek.Campus.Student.Ace.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Afsu" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <!-- Measured in Bytes -->
        <requestLimits maxAllowedContentLength="1073741824" />
        <!-- 1 GB-->
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
<!--ProjectGuid: 83c18e69-634a-4782-9c38-eb13c7c8c73a-->
<!--ProjectGuid: c5bc4a3d-53b9-4db8-87c0-8d4e6e934ae4-->