@using Toltek.Charts
@model PieModel
<script src="~/tapps/js/statistics/flot/flot.bundle.js"></script>
<script>
    var data = [
        @{
            foreach (var item in Model.Items)
            {
                if(!string.IsNullOrEmpty(item.Color))
                {
                     <text>{label: "@item.Label",data:@item.Data,color:"@item.Color"},</text>
                }
                else
                {
                     <text>{label: "@item.Label",data:@item.Data},</text>
                }

        }
            }
    ];

        $.plot('#@Model.PlaceHolder', data, {
                series: {
                    pie: {
                        show: true,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 2 / 3,
                        formatter: labelFormatter,
                        threshold: 0.1
                    }
                    }
                },
            legend: {
                    show: true
            }
            });
        function labelFormatter(label, series) {
                return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + Math.round(series.percent) + "%</div>";
            }
</script>
