@model ErrorViewModel
@{
    ViewData["Title"] = " Erişim yetkiniz yok !";
}
<div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
    <h3 class="page-error color-fusion-500" style="font-size: 300% !important;">
        Erişim yetkiniz yok <span class="text-gradient">403</span><small class="fw-500">
            Aradığınız sayfa erişim yetkiniz yoktur, bir hata olduğunu düşünüyorsanız, lütfen Yönetici ile iletişime geçin.
        </small>
    </h3>
</div>