
.primary-nav .nav-menu:first-of-type {
    margin-top: 0 !important;
}

.nav-title-client {
    color: #ffc241;
    margin-top: 0;
    padding-left: 12px;
    text-transform: none;
}

    .nav-title-client span {
        font-size: 14px;
        margin-left: 6px;
        line-height: 20px;
    }

.page-sidebar-thin {
    width: 13.875rem;
}

    .page-sidebar-thin .page-logo {
        width: 13.875rem;
        padding: 0 0.5rem;
    }

    .page-sidebar-thin .info-card {
        width: 13.875rem;
        /*height: 8.53rem;*/
        padding: 0 0.5rem;
    }

        .page-sidebar-thin .info-card .info-card-text {
            margin-left: 0.5rem;
        }

    .page-sidebar-thin .nav-filter {
        width: 13.875rem;
    }

        .page-sidebar-thin .nav-filter input[type="text"] {
            padding: 8px 40px 8px 14px;
            width: 13.625rem;
        }

    .page-sidebar-thin .nav-menu li a {
        padding: 0.8125rem 1rem;
    }


.page-sidebar .page-logo .img-short {
    display: none;
}

@media (min-width: 992px) {
    .nav-function-minify:not(.nav-function-top) .page-sidebar .page-logo .img-long {
        display: none;
    }

    .nav-function-minify:not(.nav-function-top) .page-sidebar .page-logo .img-short {
        display: block;
    }
}

.app-list-big > li {
    width: 210px;
}

/* form-group input-group form-control */
.form-group {
    margin-bottom: 0.5rem;
}


.form-control input[type=checkbox] {
    margin-left: 5px;
    margin-right: 5px;
}

.form-control div label input[type=checkbox] {
    margin-left: 5px;
    margin-right: 5px;
}

.form-control input[type=radio] {
    margin-left: 5px;
    margin-right: 5px;
}

.form-control div label input[type=radio] {
    margin-left: 5px;
    margin-right: 5px;
}
/*.input-group-invalid {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    border-color: #fd3995;
    background-repeat: no-repeat;
    background-position: center right calc(0.3675em + 0.25rem);
    background-size: calc(0.735em + 0.5rem) calc(0.735em + 0.5rem);
}

    .input-group-invalid .form-control {
        border: 1px solid #E5E5E5;
        border-radius: 4px;
    }

        .input-group-invalid .form-control.is-invalid {
            border: 1px solid #E5E5E5;
            border-radius: 4px;
        }*/
.page-header-fluid {
    padding-left: 0;
    margin-right: 10px;
    background-image: linear-gradient(270deg, rgba(51, 148, 225, 0.18), transparent);
    background-color: #584475;
    color: #e4d9d9;
}

    .page-header-fluid .page-logo {
        display: flex;
    }

        .page-header-fluid .page-logo .img-short {
            display: none;
        }

    .page-header-fluid .dropdown-icon-menu {
        display: none;
    }

    .page-header-fluid #search-field {
        color: #e4d9d9;
    }

        .page-header-fluid #search-field::-webkit-input-placeholder {
            color: #e4d9d9;
        }

        .page-header-fluid #search-field:-ms-input-placeholder {
            color: #e4d9d9;
        }

        .page-header-fluid #search-field::placeholder {
            color: #e4d9d9;
        }

    .page-header-fluid > div.ml-auto.d-flex > div > a.header-icon-bar > i {
        color: #e4d9d9 !important;
    }

.page-logo, .page-sidebar, .nav-footer, .bg-brand-gradient {
    background-color: #644b88 !important;
}

.nav-menu li a > [class*='fa-'], .nav-menu li a > .ni {
    color: #d7cece !important;
}


/* Smart Admin Custom*/



.slide-on-mobile {
    width: 13rem;
}

.page-header {
    height: 3.125rem !important;
}

.header-icon {
    line-height: 3.125rem !important;
    height: 3.125rem !important;
}

.page-content {
    padding: 16px 20px 24px !important;
}

.page-breadcrumb {
    margin: 0 0 1rem;
}

.header-icon:not(.btn)[data-toggle="dropdown"] + .dropdown-menu {
    top: 3.25rem !important;
}
