@*<div class="search">
        <form class="app-forms hidden-xs-down" role="search" autocomplete="off">
            <input type="text" id="search-field" placeholder="Herşey için arama yapın" class="form-control" tabindex="1" />
            <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
                <i class="fal fa-times"></i>
            </a>
        </form>
    </div>*@