@if (LayoutOptions.Value.Settings)
{
    <div class="hidden-md-down">
        <a href="#" class="header-icon header-icon-bar" data-toggle="modal" data-target=".dashSettings" loc-title="Ayarlar">
            <i class="fal fa-cog"></i>
        </a>
    </div>
}