<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-primary">
        <span class="hidden-md-down fw-700">
            2017-2023 © <a href="https://www.toltek.com.tr" class="text-primary fw-500" title="Toltek Yazılım Eğitim Danışmanlık Tic. ve San. Ltd. Şti." target="_blank">Toltek</a>
        </span>
    </div>
    <div>
        <ul class="list-table m-0">
            <li><a asp-controller="Home" asp-action="About" class="text-secondary fw-700" loc="true">Hakkında</a></li>
            <li class="pl-3"><a asp-controller="Home" asp-action="Index" class="text-secondary fw-700" loc="true">Lisans</a></li>
            <li class="pl-3"><a asp-controller="Home" asp-action="Index" class="text-secondary fw-700" loc="true">Dokümanlar</a></li>
            <li class="pl-3 fs-xl">
                <a asp-controller="Home" asp-action="Index" class="text-secondary" localize-title="Yardım">
                    <i class="fal fa-question-circle" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>